.top-mune{
	min-width:1200px;
}



.top-mune h4{
	text-align: center;
	color: #fff;
	font-size: 22px; 
	display:none;
	font-family: Microsoft Yahei;
	margin: 0;
	line-height: 50px; 
}

.top-mune img{
	float: left;
	width: 120px;
	margin: 10px 0;
}

.top-mune>ul{
	float: right; 
	font-size: 16px;
	text-align: center;
	margin: 0;
}


.top-mune>ul>li{
	position: relative;
	display: inline-block;
	padding: 0 20px;
	top:2px;
}

.top-mune>ul>li>a{
	display: inline-block;
	width: 100%;
	padding: 27px 0;
}

.top-mune>ul>li:hover ul{
	display: block !important;
}


.top-mune>ul>li>ul{
	position:absolute;
	background: rgba(41,105,192,0.8);
	width:100%;
	left: 0;
	margin:0; 
	padding: 0;	
}

.top-mune>ul>li>ul>li>a{
	display: inline-block;
	width: 100%;
	padding:0;
	line-height: 50px;
}

.top-mune>ul>li>ul>li>a:hover{
	background: rgba(41,105,192,0.7);
}


@media (max-width:1200px) {
	#header{
		position: absolute;
		min-width:1200px;
	}
}


/*@media (min-width:1200px){
	#header .hide768{
		display: block;
	}
}
@media (max-width:1200px) {
	#header{
		position: static;
	}
	#header .hide768{
		display: none;
	}
	#header a{
		text-decoration:none;
	}
	.logo{
		display: none;
	}
	.top-mune{
		width: 100%;
		padding: 0;
	} 
	.top-mune h4{
		display: block;
	}
	.top-mune>ul{
		width: 100%;
	}
	.top-mune>ul>li{
		display: inline-block;
		width: 100%;
		padding:0; 
	}
	.top-mune>ul>li>ul{
		position:static;
		width:100%;
		left: 0;
		margin:0; 
		padding: 0;
	}
	
}*/























#footer{
	background-color: #2969c0;
}


.footer-title{
	text-align: center;
	font-size: 45px;
	color: #fff; 
	padding:50px 0;
}

footer .row{
	padding-bottom: 50px;
}

footer .form-group{
	margin: 10px 0;
}

footer .form-group label{
	color: #fff;
	font-weight:100;
	margin: 0;
}


footer .btn-default{
	width: 96%;
	margin: auto;
	color: #2969bf;
}


footer ul{
	margin-top:16px;
}

footer ul li{
	margin-bottom:30px; 
	position: relative;
	margin-left:65px; 
}


footer ul li p{
	color: #fff; 
	font-size: 18px;
	line-height: auto;
}

footer ul li:last-child{
	line-height: 60px;
}



footer ul li img{
	position: absolute;
	left: -60px;
	margin-right:20px;
}



footer .someLink{
	margin-top: 47px;
}


footer .someLink>p{
	color: #fff;
	font-size: 24px;
}

@media (max-width:380px) { 
	footer .someLink>p img{
	display: block;
}

}


footer .someLink>p img{
	width:110px;
	margin-right: 20px;
	margin-top:-25px; 
}

footer .someLink ul{
	
}

footer .someLink ul li{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 5px;
}

footer .someLink ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

footer .someLink ul li a img{
	position:static;
	width: 100%;
	margin: 0
}



#footernone{
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}




