#downloads{
	
}






#downloads .title{
	color: #2969bf;
	font-size: 30px;
	text-align: center;
	margin: 60px 0 ; 
}

#downloads .title p{
	margin-top: 20px;
	color: #333;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
}

#downloads .content{
	background-image:url(../../img/down/2.png);
	background-repeat: no-repeat;
}



#downloads .content ul{
	width: 80%;
	margin:auto;
}



#downloads .content ul li{
	text-align: left;
	border-bottom:1px dashed #999;
	padding-left: 32px;
	margin-bottom:40px ;
	padding-bottom:20px ;
}

#downloads .content ul li i{
	font-size: 30px;
	color: #2969bf;
	margin-left: -30px;
}


#downloads .content ul li a{
	font-size: 26px;
	color: #2969bf;
	margin-left: 10px;
}

#downloads .content ul li span{
	float: right;
	
}

#downloads .content ul li span a{
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin-left: 0;
	background-color: #2969bf;
	border-radius: 10px;
	text-align: center;
	padding: 5px 10px;
}

#downloads .content ul li span a:hover{
	text-decoration: none;
	background-color: #09489d;
}


#downloads .content ul li p{
	color: #222;
	font-size: 16px;
	margin-left: 6px;
	line-height: 25px;
	padding: 0;
}


#downloads .content .mune{
	width: 80%;
	margin:auto;
	text-align: right;
	margin-top: 50px;
}

#downloads .content .mune a{
	display: inline-block;
	padding:5px 10px;
	border: 1px solid #bdbdbd;
	color: #666;
	border-radius: 5px;
	margin-left:3px;
	
}

#downloads .content .mune a:hover{
	text-decoration: none;
	background-color: #428bca;
	color: #fff;
	border:1px solid transparent;
}



