<div id="home-ev07">
	<div class="row">
		<div class="col-sm-10 title">Image Setting</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	 <div class="form-group">
	   <label class="col-sm-2 control-label">Image</label>
	   <div class="col-sm-3">
	     <input type="file" class="form-control" id="" name="" >
	   </div>
	   <div class="col-sm-7">
	     <input type="text" class="form-control" id="" name="" value="/eview_html/img/about/1.png" >
	   </div>
	 </div>

	 <div class="form-group">
	   <label class="col-sm-2 control-label">Title</label>
	   <div class="col-sm-10">
	    <input type="text" class="form-control" id="" name="" value="Contact Us" >
	   </div>
	 </div>

	 <div class="form-group">
	   <label class="col-sm-2 control-label">Content</label>
	   <div class="col-sm-10">
	     <input type="text" class="form-control" id="" name="" value="Contact Eview today to discuss your needs and how they may be able to help. Who knows, they may have already deployed a solution to match your specific requirement." >
	   </div>
	 </div>

	 <br />
	 <div class="row">
	 	<div class="col-sm-10 title">Map</div>
	 </div>
	 <hr />


	 <div class="form-group">
	   <label class="col-sm-2 control-label">Map Contrl</label>
	   <div class="col-sm-10">
	   		<select name="" id="">
	   			<option value="">ON</option>
	   			<option value="">OFF</option>
	   		</select>
	   </div>
	 </div>

	 <div class="form-group">
	   <label class="col-sm-2 control-label">Map API</label>
	   <div class="col-sm-10">
	     <input type="text" class="form-control" id="" name="" value='<script type="text/JavaScript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgQlfaH4qa4wilpRr4QZ_Sjf4lmMj_7Jo"></script>'>
	   </div>
	 </div>


	 <br />
	 <div class="row">
	 	<div class="col-sm-10 title">Contact</div>
	 </div>
	 <hr />

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Add</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="Room 201, B5 Building, Zhongsheng" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="Industrial Area,Gongye Road," placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="Longhua district, Shenzhen City, China" placeholder="">
	    </div>
	  </div>

	   <div class="form-group">
	    <label class="col-sm-2 control-label">Telephone number</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="+86-755-23772735/28073450" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="+86-755-33100549" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="Fax:+86-755-28073450" placeholder="">
	    </div>
	  </div>

	   <div class="form-group">
	    <label class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="Sales Department:" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="sales@eviewltd.com" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="info@eviewltd.com" placeholder="">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label"></label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="Sales Department:" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="sales@eviewltd.com" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="info@eviewltd.com" placeholder="">
	    </div>
	  </div>

	   <div class="form-group">
	    <label class="col-sm-2 control-label">Emergency call</label>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="+86-18620310172" placeholder="">
	    </div>
	    <div class="col-sm-3">
	      <input type="text" class="form-control" id="" value="+86-15899795842" placeholder="">
	    </div>
	  </div>


	<br />
	<div class="row">
		<div class="col-sm-10 title">Content</div>
	</div>
	<hr />

	<div class="form-group">
	    <label class="col-sm-1 control-label">内容</label>
	    <div class="col-sm-11">
	      <div id="summernote">
	      	 
	      		<div id="About" class="container">
	      		 <div class="col-lg-7">
	      		   <p><span>Eview</span> is a professional consumer GPS (Global Positioning System) products provider. Eview designs,develops,and manufactures high quality GPS tracking products for B2B and  OEM/ODM customers, including Vehicle and personal tracking systems. </p>
	      		 <img src="/eview_html/img/about/2.png" alt=""  />
	      		 <p>We have a R&D team with 10 experienced engineers,a manufacturing factory with <b>ISO9001:2008</b> certified. The Eview development team are  proud of this reputation which not only  boasts absolute flexibility, but also highlights their ability to come up with the perfect solutionfor all their  customers irrespective of how unique or obscurethe customer need. </p> </div>
	      		 <div class="col-lg-4 clearfix">
	      		   <img src="/eview_html/img/about/3.png" alt=""  />
	      		 </div>
	      		</div>



	      		<div id="office" class="container">
	      		   <div class="col-sm-4">
	      		      <p>Office</p>
	      		      <img src="/eview_html/img/about/4.png" alt="" width="100%" />
	      		   </div>
	      		   <div class="col-sm-4">
	      		      <p>Factory</p>
	      		      <img src="/eview_html/img/about/5.png" alt="" width="100%" />
	      		   </div>
	      		   <div class="col-sm-4">
	      		      <p>Exhibition</p>
	      		      <img src="/eview_html/img/about/6.png" alt="" width="100%" />
	      		   </div>
	      		</div>

	      </div>
	        <script>
	          $(document).ready(function() {
	              $('#summernote').summernote();
	          });
	        </script>
	    </div>
	</div>



	</form>



</div>