<div id="porducts-form">
	<div class="row">
		<div class="col-sm-10 title"></div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
			<a href="#" onClick="loadPage('porducts/porducts.html')" class="btn btn-default"><i class="glyphicon glyphicon-share-alt"></i></a>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Name</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="" name="" value="EV07S" >
	    </div>
	  </div>

		<div class="form-group">
		    <label class="col-sm-1 control-label">Content</label>
		    <div class="col-sm-11">
		      <div id="summernote">


		      			<div id="products" class="contentFirst">
		      		    <div id="Intro">
		      		     <div>
		      		      <div class="container">
		      		       <div class="col-sm-6">
		      		        <ul>
		      		         <li>Personal/Asset Tracking System</li>
		      		         <li>Mini sized, Waterproof IP66<br />Real time tracking by GPS satellite</li>
		      		         <li><img src="/eview_html/img/products/ev07s/1.png" alt="" /></li>
		      		         <li><button class="btn btn-primary">Order Now</button></li>
		      		        </ul>
		      		       </div>
		      		       <div class="col-sm-6">
		      		        <img src="/eview_html/img/products/ev07s/2.png" alt="" class="moveProducts" />
		      		       </div>
		      		      </div>
		      		      <div class="container-fluid ">
		      		       <img class="imgH" src="/eview_html/img/products/ev07s/3.jpg" width="100%" />
		      		      </div>
		      		     </div>
		      		    </div>
		      		    <div id="brief">
		      		     <div>
		      		      <div class="container">
		      		       <div class="col-sm-6">
		      		        <ul>
		      		         <li><span>EV07S</span>Personal/Asset Tracking System</li>
		      		         <li>Safety for independent and active seniors.</li>
		      		         <li>With the ev-07s you can go anywhere knowing help is just a pressof a button away. It is perfect for seniors who like to be independent and active.By not relying on landlines or the NBN you can avoid the hassles of traditional personal alarms.It is a stylish pendant that works using the same cellular phonetechnology as a mobile phone, but without the complicated features.</li>
		      		        </ul>
		      		       </div>
		      		       <div class="col-sm-6">
		      		        <img src="/eview_html/img/products/ev07s/4.png" alt="" width="100%" />
		      		       </div>
		      		      </div>
		      		     </div>
		      		    </div>
		      		    <div id="trait">
		      		     <div>
		      		      <div class="container">
		      		       <div class="row">
		      		        <div class="title">
		      		         <span>01</span>
		      		         <!-- react-text: 200 --> 
		      		         <!-- /react-text -->
		      		         <!-- react-text: 201 -->Features
		      		         <!-- /react-text -->
		      		        </div>
		      		        <ul class="clearfix">
		      		         <li class="col-sm-6"><p>Personalized Fashion Design and Colorful </p><p>A true combination of style and technology,mini size and light weight，rubber handle paint material.</p><p><img src="/eview_html/img/products/ev07s/5.png" alt="" /></p></li>
		      		         <li class="col-sm-6"><p>Simple Command and User-fiendly </p><p>Simple SMS command and case are not sensitive.Gently knock the device twice activates the LED ON/OFF，Easy and funto use.</p><p><img src="/eview_html/img/products/ev07s/6.png" alt="" /></p></li>
		      		         <li class="col-sm-6"><p>Two Way Voice Communication</p><p>To be able to the one you care about.</p><p><img src="/eview_html/img/products/ev07s/7.png" alt="" /></p></li>
		      		         <li class="col-sm-6"><p>Fall Detection for Child , Patient and Elderly</p><p>A simple fall may cause a devastating consequence . A Fall Sensor can help you get immediate help without missing any important moment.</p><p><img src="/eview_html/img/products/ev07s/8.png" alt="" /></p></li>
		      		        </ul>
		      		        <ul class="clearfix itemShow">
		      		         <li class="col-sm-6">Real time tracking and monitoring.</li>
		      		         <li class="col-sm-6">High GPS accuracy and AGPS support.</li>
		      		         <li class="col-sm-6">Simple help alarm button activation.</li>
		      		         <li class="col-sm-6">Docking station for easy charging.</li>
		      		         <li class="col-sm-6">Fall detection.</li>
		      		         <li class="col-sm-6">GEO safe zone.</li>
		      		         <li class="col-sm-6">No movement alarm.</li>
		      		         <li class="col-sm-6">Voice monitoring.</li>
		      		         <li class="col-sm-6">Low GPRS data flow.</li>
		      		         <li class="col-sm-6">5 working modes for power management.</li>
		      		         <li class="col-sm-6">Re-upload data for blind area.</li>
		      		         <li class="col-sm-6">TCP/IP, UDP protocol are available.</li>
		      		         <li class="col-sm-6">OTA (Firmware upgrade over the air).</li>
		      		        </ul>
		      		       </div>
		      		      </div>
		      		     </div>
		      		    </div>
		      		    <div id="right">
		      		     <div>
		      		      <div>
		      		       <div class="container">
		      		        <div class="row">
		      		         <div class="title">
		      		          <span>02</span>
		      		          <!-- react-text: 244 --> Perfect For Tracking
		      		          <!-- /react-text -->
		      		         </div>
		      		         <div class="col-sm-5">
		      		          <img src="/eview_html/img/products/ev07s/9.png" alt="" />
		      		         </div>
		      		         <div class="col-sm-7">
		      		          <div class="row right-img">
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/10.png" alt="" />
		      		            <p>Elderly</p>
		      		           </div>
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/11.png" alt="" />
		      		            <p>Patients</p>
		      		           </div>
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/12.png" alt="" />
		      		            <p>Teens</p>
		      		           </div>
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/13.png" alt="" />
		      		            <p>Children</p>
		      		           </div>
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/14.png" alt="" />
		      		            <p>Travelers</p>
		      		           </div>
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/15.png" alt="" />
		      		            <p>Employees</p>
		      		           </div>
		      		           <div class="col-sm-3">
		      		            <img src="/eview_html/img/products/ev07s/16.png" alt="" />
		      		            <p>Lone workers</p>
		      		           </div>
		      		          </div>
		      		         </div>
		      		        </div>
		      		       </div>
		      		      </div>
		      		     </div>
		      		    </div>
		      		    <div id="details">
		      		     <div>
		      		      <div class="container">
		      		       <div class="row">
		      		        <div class="col-sm-6">
		      		         <img src="/eview_html/img/products/ev07s/17.png" alt="" />
		      		        </div>
		      		        <div class="col-sm-6">
		      		         <img src="/eview_html/img/products/ev07s/18.png" alt="" />
		      		        </div>
		      		        <ul class="clearfix">
		      		         <li class="col-sm-5 col-sm-offset-1"><span>GSM/GPRS Specifications:</span>
		      		          <div class="text">
		      		           <p>Frequency: 850/900/1800/1900 MHz</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>GPRS:GPRS multi-slot class 12</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>           GPRS mobile station class B</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Communication: Embedded TCP/ IP over GPRS class 10, SMS messages, Voice </p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Antenna: Built in FPC antenna</p>
		      		          </div></li>
		      		         <li class="col-sm-5 col-sm-offset-1"><span>GPS Specifications:</span>
		      		          <div class="text">
		      		           <p>GPS chipset: UBlox G7020 (AGPS Support)Channels: 50</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Receiver frequency: 1575.42 MHz</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Cold starts: approx 32S, typical TTFF (95%)</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Warm start: approx 32S, typical TTFF (95%)</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Hot start: approx: 1S, typical TTFF (95%)</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Antenna: Built-in ceramic antenna</p>
		      		          </div></li>
		      		         <li class="col-sm-5 col-sm-offset-1"><span>General Specifications:</span>
		      		          <div class="text">
		      		           <p>Dimension: &nbsp;61mm * 44mm *&nbsp;16mmWeight: 35g</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Backup battery: Rechargeable, 3.7V, 850mAh(Li-Polymer)</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Charging voltage: 5V DC</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Operating Temperature: </p>
		      		          </div>
		      		          <div class="text">
		      		           <p>-20&deg;C to +55&deg;C for working</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>-30&deg;C to +70&deg;C for storage</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Standby Time: 2~7 days</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Water Resistance: Follow the IPX5 Standard</p>
		      		          </div></li>
		      		         <li class="col-sm-5 col-sm-offset-1"><span>Hardware Specifications: </span>
		      		          <div class="text">
		      		           <p>Sensors: Built in 3D motion sensor</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>                Built in Vibrator sensor</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Connectors: Micro USB connectors</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>SIM card: Micro SIM card, inbuilt</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>SIM chip accepted</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Flash Memory: Built in 1MB memory</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Normal current consumption: 10~30mAh</p>
		      		          </div>
		      		          <div class="text">
		      		           <p>Sleep current consump-tion: 1~2mAh (GPS off)</p>
		      		          </div></li>
		      		        </ul>
		      		       </div>
		      		      </div>
		      		     </div>
		      		    </div>
		      		   </div>

		      	 
		      </div>
		        <script>
		          $(document).ready(function() {
		              $('#summernote').summernote();
		          });
		        </script>
		    </div>
		</div>

</div>