

#carousel{
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

#carousel .img-go{
	position: relative;

	-moz-transition: all 800ms ease;
	-webkit-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
	left: 0%;
}

#carousel .img-item{
	display: inline-block;
	width: 100%;
	float: left;
}


#carousel .item-btn{
	position:absolute;
	z-index: 200;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#carousel .item-btn li{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #fff;
	margin:0 5px;
	overflow: hidden;
}


#carousel .item-btn li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}


#carousel .item-btn .acive{
	background-color: #2969bf;
}




#carousel .img-item img{
	width: 100%;
	display: inline;
	margin: 0;
	padding:0; 
}



#company p{
	font-size: 22px;
	color: #222;
}


.container-fluid{
	padding: 0;
	margin: 0;
}


#ev07 {
	 font-size: 20px;
	 font-family: Calibri; 
}


#ev07 ul {
	 text-align: left;
}

@media (max-width:1200px) { 
	#ev07 ul {
	 text-align:center;
	}

}




#ev07 ul li{
	 margin: 30px 0;
}


#ev07 .img-box{
	border-radius: 15px;
}


#ev07 .img-title span{
	color: #ef1824;
}

#ev07 .img-title img{
	margin: -100px 0 0 0;

}

#ev07 .img-text{
	line-height: 35px;
	font-size: 20px;
	text-indent: 30px;
}











#ev07 .ev07-right{
}

@media (max-width:1200px) { 
	#ev07 .ev07-right li{
	width: 50%;
	display: inline-block;
	}	

	#ev07 .ev07-right .col-sm-3{
		width: 100%;
	}

	#ev07 .ev07-right .col-sm-9{
		width: 100%; 
	}

}



@media (max-width:768px) { 
	#ev07 .ev07-right li{
	width: 100%;
	display: inline-block;
	}	

	#ev07 .ev07-right .col-sm-3{
		width: 100%;
	}
}


#ev07 .ev07-right img{
	margin: -10px 10px 0 0 ;
}

@media (max-width:1200px) { 
		#ev07 .ev07-right img{
		margin:0;
	}
}

#ev07 .ev07-right h2{
	font-size: 22px;
	margin: 0;
}

#ev07 .ev07-right p{
	font-size: 16px;
	margin: 10px 0 0 0;
	color:#666;
	line-height: 25px;
}



#ev07 .ev07-right .noImg{
	margin: 10px  0;
	padding: 0;
}

@media (max-width:1200px) { 
	#ev07 .ev07-right .noImg{
		width: 50%;
		margin: 20px 0;
		height: 124px;
	}	
}

@media (max-width:768px) { 
	#ev07 .ev07-right .noImg{
		width: 100%;
		height:auto;
	}	
}


#ev07 .ev07-right .noImg h2{
	font-size: 22px;
	margin: 0;
	padding: 0;
}

#ev07 .ev07-right .noImg p{
	margin:0;
	padding: 0;
	font-size: 16px;
}






#ev200{
	text-align: left;
	position: relative;
}



#ev200 p{
	text-align: left;
	font-size: 21px;
	font-family: Calibri;
	width:100%;
}

#ev200 .row{
	margin: 0;
}

#ev200 img{
	display: block
}

#ev200 ul {
	list-style-image: url('../../img/home/ev200/ev200-list.png');
	text-align: left;
}

#ev200 ul li{
	font-size: 20px;
	margin: 10px;
	font-weight: 700;
}


#ev200 .ev200Item{
	position: absolute;
	bottom: -200px;
	right: 240px;
	z-index: 999;
	width: 100%;
}

#ev200 .ev200List{
	margin-top: -100px;
}

@media (max-width:1200px) {
	#ev200 .ev200Item{
		position: absolute;
		bottom: -200px;
		right: 120px;
		z-index: 999;
		width: 100%;
	}

	#ev200 .ev200List{
		margin-top:0;
	}
}


@media (max-width:991px) {
	#ev200 .ev200Item{
		position: static;
		z-index: 999;
		width: 100%;
	}

	#ev200 .ev200yb{
		display: none;
	}
	#ev200 ul {
	 	text-align: center;
	 	width:300px;
	 	margin: 50px  auto;
	}
	#ev200 ul li{
	 	width: 100%;
	}
}



@media (max-width:768px) { 
	#ev200 .ev200Item{
		position: static;
		width: 80%;
		margin:auto;
	}
	
}

@media (max-width:400px) { 
	#ev200 ul {
	 	width:100%;
	}
	
}



@media (max-width:400px) {
	#ev200 ul {
	 	text-align: left;
	}
}



#evapp {
	background: url('../../img/home/evapp/ev_bg.png');
	background-repeat:no-repeat;
	background-position:top center;
}

#evapp .row {
	margin: 0;
}

#evapp .container{
	padding:60px 0;
}

#evapp .titleP{
	font-size: 30px;
	color: #2969bf;
	padding: 25px 0;
	text-align: left;
}

#evapp ul{
	text-align: left;
}

#evapp ul li{
	margin-bottom: 30px;
}

#evapp ul li a{
	margin:10px;
	display: inline-block;
}


#evapp ul li span{
	font-size: 22px;
	color: #222;
}


#evapp ul li p{
	font-size: 18px;
	color: #444;
}


#evapp .col-lg-6{
	 
}

#evapp .titleImg{
	position: relative;
	bottom: -127px;
}

@media (max-width:1200px) {
	#evapp .titleImg{
		position: relative;
		bottom: 0;
		width: 80%;
	}
	#evapp .titleP{
		text-align: center;
	}
	#evapp ul{
		text-align: center;
	}
	#evapp .container{
		padding:0;
	}
}


@media (max-width:768px) {
	#evapp .titleImg{
		position: relative;
		bottom: 0;
		width: 100%;
	}
}




#platform{
	
}

#platform .row{
	margin-bottom: 50px;
}

#platform h1{
	font-size: 40px;
	color: #2969bf;
	text-align: left;
}


#platform p{
	font-size: 20px;
	color: #242736;
	text-align: left;
}

#platform .computer img{
	margin-top:-78px;
	width: 100%;
}

@media (max-width:1200px) { 
	#platform .computer img{
	 margin-top:0;
	 width: 100%;
	}

}

@media (max-width:990px) { 
	#platform .computer img{
	 margin-top:0;
	 width: 60%;
	}

}

@media (max-width:768px) { 
	#platform .computer img{
	 margin-top:30px;
	}

}

@media (max-width:400px) { 
	#platform .computer img{
	 width: 100%;
	}

}






#platform .platform-icon{
	width: 50%;
	font-size: 18px;
	text-align: left;
	height: 100px;
	float: left;
}

#platform .platform-icon img{
	float: left;
	margin-right:20px; 
}

@media (max-width:990px) { 
	#platform .platform-icon{
		width: 50%;
		font-size: 18px;
		text-align: center;
		height: 100px;
		float: left;
		margin: 40px 0;
	}


	#platform .platform-icon img{
		display: inline-block;
		float: none !important;
		margin:0; 
	}

}

@media (max-width:600px) { 
	#platform .platform-icon{
		width: 100%;
	}
}

#platform .platform-icon h4{
	margin: 10px 0;
}

#platform .platform-icon p{
	font-size: 16px;
	padding: 0 10px;
}




#presonal{
	text-align: center;
	padding: 50px 0;
}

#presonal p{
	font-size: 16px;
	line-height: 30px;
	margin: 0;
}



#presonal .col-sm-4{
	margin: 30px 0;
}



#news{

}


#news ul {
	width: 100%;
	margin:auto;
	padding: 0;
}

#news ul li{
	width:50%;
	float: left;
	font-size: 22px;
	color: #2969bf;
	margin-top: 25px;
	text-align: left;
	overflow: hidden;
	padding-bottom: 10px;
}


#news ul li:nth-child(odd){
	border-right: 1px solid #efefef;
}


@media (max-width:990px) { 
	#news ul li{
		width: 100%;
	}


	#news ul li:nth-child(odd){
	border-right: none;
	border-bottom: 1px solid #efefef;
}
}








#news ul li span{
	float: right;
	font-size: 18px;
}

#news ul li .text{
	font-weight: 100;
	font-size: 16px;
	max-height: 90px;
	overflow: hidden;
}

#news ul li a{
	float: left;
	color: #2969bf;
}

#news  .mune {
  width: 100%;
  margin: auto;
  text-align: right;
  margin-top: 10px;
}

#news  .mune a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #bdbdbd;
  color: #666;
  border-radius: 5px;
  margin-left: 3px;
}

#news  .mune a:hover {
  color: #fff;
  background-color: #428bca;
}

#news .title{
	position: relative;
	width: 100%;
	float: left;
	padding: 0 15px;
	border-bottom: 1px solid #efefef;
}


#news .title .title-all{
	float: left;
	padding: 0;
}


#news .title .more{
	position: absolute;
	right:15px;
	bottom: 10px;
	padding: 0;
	font-size: 18px;
}


#news .title .more a{
	color: #a5a5a5;
}