<style>
	.table tr td{
		vertical-align: middle !important; 
	}
</style>
<div id="downloads">
	<div class="row">
		<div class="col-sm-10 title"></div>
		<div class="col-sm-2" align="right">
			<a href="#" onClick="loadPage('downloads/downloads_form.html')" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
			<button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
		</div>
	</div>

	<hr />

	<table class="table table-bordered" style="text-align:center; table-layout:fixed">
		<tr style="font-weight:700;">
			<td colspan="1"><input type="checkbox" name="checkedAll" onClick="checkedAll()"></td>
			<td colspan="1">ID</td>
			<td colspan="5">Name</td>
			<td colspan="2">Date</td>
			<td colspan="2">version</td>
			<td colspan="2">Operate</td>
		</tr>
		<tbody>
		    <tr>
		    	<td colspan="1"><input type="checkbox" name='choose'></td>
				<td colspan="1">1</td>
		    	<td colspan="5">Parameter Editor Tool</td>
		    	<td colspan="2">2012-12-12 12:12:12</td>
		    	<td colspan="2">v1.0</td>
		    	<td colspan="2">
		    		<a href="#" onClick="loadPage('downloads/downloads_form.html')" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
		    	</td>
		    </tr>
		    <tr>
		    	<td colspan="1"><input type="checkbox" name='choose'></td>
				<td colspan="1">2</td>
		    	<td colspan="5">Parameter Editor Tool</td>
		    	<td colspan="2">2012-12-12 12:12:12</td>
		    	<td colspan="2">v1.0</td>
		    	<td colspan="2">
		    		<a href="#" onClick="loadPage('downloads/downloads_form.html')" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
		    	</td>
		    </tr>
		    <tr>
		    	<td colspan="1"><input type="checkbox" name='choose'></td>
				<td colspan="1">3</td>
		    	<td colspan="5">Parameter Editor Tool</td>
		    	<td colspan="2">2012-12-12 12:12:12</td>
		    	<td colspan="2">v1.0</td>
		    	<td colspan="2">
		    		<a href="#" onClick="loadPage('downloads/downloads_form.html')" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
		    	</td>
		    </tr>
		</tbody>
	</table>

	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>

	    <li class="active"><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>

	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

</div>


<script>

	function checkedAll(){
		var ch=document.getElementsByName("choose");
		if(document.getElementsByName("checkedAll")[0].checked==true){
			for(var i=0;i<ch.length;i++){
				ch[i].checked=true;
			}
		}else{
			for(var i=0;i<ch.length;i++){
				ch[i].checked=false;
			}
		}
	}

</script>