<div id="downloads">
	<div class="row">
		<div class="col-sm-10 title">Downloads Setting</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

		<div class="form-group">
		  <label class="col-sm-1 control-label">Images</label>
		  <div class="col-sm-11">
		    <input type="file" class="form-control" id="" name="" >
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-sm-1 control-label">Title</label>
		  <div class="col-sm-11">
		    <input type="text" class="form-control" id="" name="" value="Document & Certificate" >
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-sm-1 control-label">Content</label>
		  <div class="col-sm-5">
		    <input type="text" class="form-control" id="" name="" value="Eview products and factories are recognized by the State," >
		  </div>
		  <div class="col-sm-6">
		    <input type="text" class="form-control" id="" name="" value="in accordance with strict standards of R & D and production, is assured of your assurance" >
		  </div>
		</div>

	</form>

</div>