<div id="downloads-form">
	<div class="row">
		<div class="col-sm-10 title"></div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
			<a href="#" onClick="loadPage('downloads/downloads_list.html')" class="btn btn-default"><i class="glyphicon glyphicon-share-alt"></i></a>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Name</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="" name="" value="" >
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Version</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="" name="" value="" >
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Synopsis</label>
	    <div class="col-sm-11">
	      <textarea style="width:100%" rows="10"></textarea>
	    </div>
	  </div>


	  <div class="form-group">
	    <label class="col-sm-1 control-label">File</label>
	    <div class="col-sm-11">
	      <input type="file" class="form-control" id="" name="" >
	    </div>
	  </div>



</div>