 #Intro{
    
}

#Intro ul{
    text-align: right;
}

#Intro ul li{
    color: #2969bf;
    font-size: 22px;
    margin-bottom: 16px;
}


#Intro ul li:first-child{
    font-size: 34px;
}




#About{
    background-color: #efefef;
    padding: 0 15px;
    margin:auto;
    margin-top:60px;
    font-size: 16px;
    box-shadow: -5px 5px 5px #e0e0e0;
}


#About p{
    line-height: 30px;
    margin:20px 0;
    padding: 0 20px;
}

#About b{
    color:#2969bf;
}

#About span{
    font-size: 30px;
    text-indent: 30px;
    display: inline-block;
}




@media (max-width:588px) { 
    #About img{
        width: 100%; 
    }
}




#office p{
    font-size: 27px;
    color: #2969bf;
}





#contact{

}

#contact .title{
    font-size: 20px;
    color: #222;
}

#contact .title span{
    font-size: 47px;
    color: #2969bf;
}

#contact .title p{
    padding: 0 20%;
}



#contact .row{
    margin-top: 100px;
}

#contact .row>div{
    padding:0 20px;
}
#contact .row>div>div{
    border-top: 1px solid #2969bf; 
}

#contact .row>div>div img{
    margin-top: -80px;
}


#contact .row>div>div dl{
    margin-top: -10px;
}


#contact .row>div>div dl dt{
    font-size: 20px;
    color: #2969bf;
    font-weight: 700;
    margin-bottom: 10px; 
}

#contact .row>div>div dl dd{
    line-height: 25px; 
}


#contact .inlinkDl{
    display: inline-block;
    width: 50%;
    float: left;
    
}


#contact .borderright{
    border-right: 1px solid #c5c5c5; 
}









#from{
    background-color: #efefef;
}

#from .btn-primary{
    background-color: #2969bf;
    border-color: #2969bf;
}

#from input{
    height: 31px;
    padding:2px; 
}

#from input,#from textarea{
    width: 100%;
    border-radius: 5px;
    border:1px solid #fff;
    background-color: #fff;
}

#from .title {
    text-align: left;
    font-size: 20px;
    color: #2969bf;
    margin: 0;
}



#from .content{
    text-align: left;
    padding:0;
    font-size: 16px;
    color: #2969bf;
    margin-top: 20px;

}

#from .content>div{
    text-align: left;
}


#from .content .row>div{
    margin-top: 20px;
}
