#faq{
	
}








#faq .title{
	color: #2969bf;
	font-size: 30px;
	text-align: center;
	margin: 60px 0 ; 
}


#faq .content{
	background-image:url(../../img/faq/2.png);
	background-repeat: no-repeat;
}

#faq .content ul{
	font-size: 18px;
	color: #2969bf;
	width: 80%;
	margin:auto;
}


#faq .content ul li{
	
	font-size: 22px;
	color: #2969bf;
	margin-top: 25px;
	text-align: left;
}

#faq .content ul li a,#faq .content ul li a:visited{
	color: #2969bf;
}

#faq .content ul li span{
	float: right;
	width: 150px;
	font-size: 16px;
	display: inline-block;
}

#faq .content ul li p{
	min-height: 105px;
	background-color: #f5f5f5;
	padding: 15px;
	font-size: 16px;
	color: #32333a;
	margin-top: 5px;
	display: none;
}

#faq .content ul li span a{
	float: right;
}

#faq .content .mune{
	width: 80%;
	margin:auto;
	text-align: right;
	margin-top: 50px;
}

#faq .content .mune a{
	display: inline-block;
	padding:5px 10px;
	border: 1px solid #bdbdbd;
	color: #666;
	border-radius: 5px;
	margin-left:3px;
	
}

#faq .content .mune a:hover{
	text-decoration: none;
	background-color: #428bca;
	color: #fff;
	border:1px solid transparent;
}

