<div id="home-ev07">
	<div class="row">
		<div class="col-sm-10 title">EV-07 Features</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">标题</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="inputEmail3" value="EV-07 Features" placeholder="">
	    </div>
	  </div>

	<div class="form-group">
	    <label class="col-sm-1 control-label">内容</label>
	    <div class="col-sm-11">
	      <div id="summernote">
	      	<div class="row">
	      	 <div class="col-lg-7">
	      	  <ul>
	      	   <li><img class="img-box" src="/eview_html/img/home/ev07/ev_img_1.jpg" alt="" width="100%" /></li>
	      	   <li class="img-text">The EV-07W is super small 3G(WCDMA) personal/asset GPS tracker. It is designed for monitoring and protecting people and property. keeping busy families connected with tracking information and voice functionality. Besides, it built in 3D G-sensor that can be used for no movement alarm, elderly falling, power management, and more.</li>
	      	  </ul>
	      	 </div>
	      	 <div class="col-lg-5">
	      	  <ul class="ev07-right">
	      	   <li class="row">
	      	    <div class="col-sm-3">
	      	     <img src="/eview_html/img/home/ev07/right_2g3g.png" />
	      	    </div>
	      	    <div class="col-sm-9">
	      	     <h2>3G(WCDMA) network</h2>
	      	     <p>Small size 3G personal GPS tracker.</p>
	      	    </div></li>
	      	   <li class="row">
	      	    <div class="col-sm-3">
	      	     <img src="/eview_html/img/home/ev07/right_jb.png" />
	      	    </div>
	      	    <div class="col-sm-9">
	      	     <h2>Safety alerts</h2>
	      	     <p>SOS button, Geo safe zone, No Movement alert.</p>
	      	    </div></li>
	      	   <li class="row">
	      	    <div class="col-sm-3">
	      	     <img src="/eview_html/img/home/ev07/right_sd.png" />
	      	    </div>
	      	    <div class="col-sm-9">
	      	     <h2>Fall detection</h2>
	      	     <p>Two-way calling . With built in MIC and speaker,two-way calling to talk anytime.</p>
	      	    </div></li>
	      	   <li class="row">
	      	    <div class="col-sm-3">
	      	     <img src="/eview_html/img/home/ev07/right_gps.png" />
	      	    </div>
	      	    <div class="col-sm-9">
	      	     <h2>GPS Tracking</h2>
	      	     <p>Real time tracking and monitoring, High GPS Accuracy and AGPS support.</p>
	      	    </div></li>
	      	   <li class="noImg row">
	      	    <!-- react-text: 177 -->
	      	    <!-- /react-text -->
	      	    <div class="col-sm-12">
	      	     <h2>Easy Charging</h2>
	      	     <p>A docking station provides an alternative method to charge and make it a lot quicker and easy to use for elderly.</p>
	      	    </div></li>
	      	   <li class="noImg row">
	      	    <!-- react-text: 182 -->
	      	    <!-- /react-text -->
	      	    <div class="col-sm-12">
	      	     <h2>Portable Design</h2>
	      	     <p>Compact size and easy to use, the weight is only 40g.</p>
	      	    </div></li>
	      	   <li class="noImg row">
	      	    <!-- react-text: 187 -->
	      	    <!-- /react-text -->
	      	    <div class="col-sm-12">
	      	     <h2>Water resistance</h2>
	      	     <p>Follow the IPX5 standard</p>
	      	    </div></li>
	      	   <li class="noImg row">
	      	    <!-- react-text: 192 -->
	      	    <!-- /react-text -->
	      	    <div class="col-sm-12">
	      	     <h2>Free App and Accessible</h2>
	      	     <p>User-friendly app that is intuitive and easy to use.</p>
	      	    </div></li>
	      	  </ul>
	      	 </div>
	      	</div>
	      </div>
	        <script>
	          $(document).ready(function() {
	              $('#summernote').summernote();
	          });
	        </script>
	    </div>
	</div>



	</form>



</div>