<div id="home-ev07">
	<div class="row">
		<div class="col-sm-10 title">EV-200 Features</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">标题</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="inputEmail3" value="EV-200 Features" placeholder="">
	    </div>
	  </div>

	<div class="form-group">
	    <label class="col-sm-1 control-label">内容</label>
	    <div class="col-sm-11">
	      <div id="summernote">
	      	<div class="row">
	      	 <div class="row">
	      	  <div class="col-md-6">
	      	   <p>The EV-200 Portable GPS tracker is designed for monitoring and protecting pet. In case of emergency, using advanced GPS and wireless technology, you can easily keep track of your dog's whereabouts. This device is a waterproof IP66, innovative miniature size pet remote positioning device with built-in U-blox GPS and GSM/GPRS technology.</p>
	      	  </div>
	      	  <div class="col-md-6">
	      	   <img src="/eview_html/img/home/ev200/ev200-dog.png" width="100%" />
	      	  </div>
	      	 </div>
	      	 <div class="row">
	      	  <div class="col-md-6 ev200List">
	      	   <img class="ev200yb" src="/eview_html/img/home/ev200/ev200-yb.png" />
	      	   <ul>
	      	    <li>A-GPS Technology(By u-Blox)</li>
	      	    <li>3D G-sensor</li>
	      	    <li>Inbuilt microphone and speaker</li>
	      	    <li>Battery life u to 3 days</li>
	      	    <li>Supports SMS&amp;GPRS Tracking</li>
	      	    <li>Waterproof design</li>
	      	   </ul>
	      	  </div>
	      	  <div class="col-md-6">
	      	   <img class="ev200Item" src="/eview_html/img/home/ev200/ev200.png" alt="" />
	      	  </div>
	      	 </div>
	      	</div>
	      </div>
	        <script>
	          $(document).ready(function() {
	              $('#summernote').summernote();
	          });
	        </script>
	    </div>
	</div>



	</form>



</div>