<div id="home-ev07">
	<div class="row">
		<div class="col-sm-10 title">GPS Tracking Platform</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">标题</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="inputEmail3" value="SMART GPS Tracking Platform" placeholder="">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">简介</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="inputEmail3" value="IOS and Android. The app allows you to track the device and receive alerts, keeping you in touch with your loved ones at the click of a button." placeholder="">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">图片</label>
	    <div class="col-sm-11">
	     <input type="file" class="form-control" id="" name="" >
	    </div>
	  </div>

	<div class="form-group">
	    <label class="col-sm-1 control-label">内容</label>
	    <div class="col-sm-11">
	      <div id="summernote">
	      	 <div class="row">
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_user.png" alt="" />
	      	   <h4>Account Control Management</h4>
	      	   <p>Create and manage accounts for your customers or members without limits.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_ui.png" alt="" />
	      	   <h4>Smart UI Design</h4>
	      	   <p>Freely change the user interface following your own habits.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_wirte.png" alt="" />
	      	   <h4>Valuable Reports</h4>
	      	   <p>Our software can generate various &amp; critical reports.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_computer.png" alt="" />
	      	   <h4>Multi-Screen Monitoring</h4>
	      	   <p>View tracker’s location from yourPC , laptop or mobile phone.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_mail.png" alt="" />
	      	   <h4>Email Notification</h4>
	      	   <p>Our Software can send alarm reports on your e-mail address.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_logo.png" alt="" />
	      	   <h4>Rebranding Accepted</h4>
	      	   <p>Quickly start tracking business ata very low investment.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_font.png" alt="" />
	      	   <h4>Multi-Language</h4>
	      	   <p>Our Tracking Software is available in more than 13 popula languages.More language versions arebeing added.</p>
	      	  </div>
	      	  <div class="platform-icon">
	      	   <img src="/eview_html/img/home/platform/item_time.png" alt="" />
	      	   <h4>24/7 Technical Support</h4>
	      	   <p>Provide 24/7 technical service</p>
	      	  </div>
	      	 </div>
	      </div>
	        <script>
	          $(document).ready(function() {
	              $('#summernote').summernote();
	          });
	        </script>
	    </div>
	</div>



	</form>



</div>