<div id="home-image">

	<div class="row">
		<div class="col-sm-10 title">首页图片轮询管理</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
			<button type="button" class="btn btn-default plus-image"><i class="glyphicon glyphicon-plus"></i></button>
		</div>
	</div>
	

	<hr />

	<form class="form-horizontal image-all">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Images</label>
	    <div class="col-sm-2">
	      <input type="file" class="form-control" id="" name="" >
	    </div>
	    <div class="col-sm-2">
	    	<input type="text" class="form-control" placeholder="排序">
	    </div>
	    <div class="col-sm-5">
	    	<input type="text" class="form-control" placeholder="url地址">
	    </div>
	    <button type="button" class="btn btn-danger" onclick="deleteThis($(this))"><i class="glyphicon glyphicon-trash"></i></button>
	    <button type="button" class="btn btn-default" onclick="imgshow($(this))"><i class="glyphicon glyphicon-eye-open"></i></button>
	  </div>

	</form>
</div>

<script>

	function deleteThis(e){
		e.parents('.form-group').remove();
	}

	function imgshow(e){
		var icc = e.children().attr('class');
		if(icc == 'glyphicon glyphicon-eye-open'){
			e.children().attr('class','glyphicon glyphicon-eye-close');
		}else{
			e.children().attr('class','glyphicon glyphicon-eye-open');
		}
	}



	$("#home-image .plus-image").click(function(){
		$("#home-image .image-all").append('<div class="form-group"><label class="col-sm-1 control-label">Images</label> <div class="col-sm-2"> <input type="file" class="form-control" id="" name="" > </div> <div class="col-sm-2"> <input type="text" class="form-control" placeholder="排序"> </div> <div class="col-sm-5"> <input type="text" class="form-control" placeholder="url地址"> </div> <button type="button" class="btn btn-danger" onclick="deleteThis($(this))"><i class="glyphicon glyphicon-trash"></i></button> <button type="button" class="btn btn-default" onclick="imgshow($(this))"><i class="glyphicon glyphicon-eye-open"></i></button></div>');
	})

</script>


