<div id="home-intro">

	<div class="row">
		<div class="col-sm-10 title">公司描述管理</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
		</div>
	</div>

	<hr />

	<form class="form-horizontal clearfix">

		<div class="form-group">
		    <label class="col-sm-1 control-label">标题</label>
		    <div class="col-sm-11"><input type="text" class="form-control"  placeholder="标题"></div>
		</div>

		<div class="form-group">
		    <label class="col-sm-1 control-label">内容</label>
		    <div class="col-sm-11">
		      <div id="summernote">
		      	<p>Eview is a professional consumer GPS (Global Positioning System) products provider.</p>
		      	<p>Eview designs,develops,and manufactures high quality GPS tracking products for B2B</p>
		      	<p>and OEM/ODM customers, including Vehicle and personal tracking systems.</p>
		      </div>
		        <script>
		          $(document).ready(function() {
		              $('#summernote').summernote();
		          });
		        </script>
		    </div>
		</div>


	  <div>
	  	<label  class="col-sm-1 control-label"><h3>Intro 1</h3></label>
	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">图标</label>
	  	  <div class="col-sm-10">
	  	    <input type="file" class="form-control" id="" name="" >
	  	  </div>
	  	</div>

	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">标题</label>
	  	  <div class="col-sm-5">
	  	    <input type="text" class="form-control"  placeholder="标题1">
	  	  </div>
	  	  <div class="col-sm-5">
	  	    <input type="text" class="form-control"  placeholder="标题2">
	  	  </div>
	  	</div>

	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">介绍</label>
	  	  <div class="col-sm-10">
	  	    <input type="text" class="form-control"  placeholder="介绍">
	  	  </div>
	  	</div>

	  </div>


	  <div>
	  	<label  class="col-sm-1 control-label"><h3>Intro 2</h3></label>
	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">图标</label>
	  	  <div class="col-sm-10">
	  	    <input type="file" class="form-control" id="" name="" >
	  	  </div>
	  	</div>

	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">标题</label>
	  	  <div class="col-sm-5">
	  	    <input type="text" class="form-control"  placeholder="标题1">
	  	  </div>
	  	  <div class="col-sm-5">
	  	    <input type="text" class="form-control"  placeholder="标题2">
	  	  </div>
	  	</div>

	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">介绍</label>
	  	  <div class="col-sm-10">
	  	    <input type="text" class="form-control"  placeholder="介绍">
	  	  </div>
	  	</div>

	  </div>



	  <div>
	  	<label  class="col-sm-1 control-label"><h3>Intro 3</h3></label>
	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">图标</label>
	  	  <div class="col-sm-10">
	  	    <input type="file" class="form-control" id="" name="" >
	  	  </div>
	  	</div>

	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">标题</label>
	  	  <div class="col-sm-5">
	  	    <input type="text" class="form-control"  placeholder="标题1">
	  	  </div>
	  	  <div class="col-sm-5">
	  	    <input type="text" class="form-control"  placeholder="标题2">
	  	  </div>
	  	</div>

	  	<div class="form-group col-sm-12">
	  	  <label class="col-sm-1 control-label">介绍</label>
	  	  <div class="col-sm-10">
	  	    <input type="text" class="form-control"  placeholder="介绍">
	  	  </div>
	  	</div>

	  </div>

	</form>


</div>