<div id="news">
	<div class="row">
		<div class="col-sm-10 title">News</div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
			<a href="#" class="btn btn-default" onClick="loadPage('news/news_list.html')"><i class="glyphicon glyphicon-share-alt"></i></a>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">背景图片</label>
	    <div class="col-sm-11">
	      <input type="file" class="form-control" id="" name="" >
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">URL</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="" name="" >
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">简介</label>
	    <div class="col-sm-11">
	      <textarea name="" id="" style="width:100%" rows="10"></textarea>
	    </div>
	  </div>

	<div class="form-group">
	    <label class="col-sm-1 control-label">内容</label>
	    <div class="col-sm-11">
	      <div id="summernote">
	      	<div class="container">
	      	      <div class="row">
	      	       <dvi class="col-lg-6">
	      	        <p class="titleP">Add as many tracker as you want and share them with your whole family.</p>
	      	        <ul>
	      	         <li><a href="javascript:void(0)"><img src="/eview_html/img/home/evapp/download_app.png" alt="" /></a><a href="javascript:void(0)"><img src="/eview_html/img/home/evapp/download_gg.png" alt="" /></a></li>
	      	         <li><span>Share tracker</span><p>When you set up your tracker you can easily share it with anyone whouses the Eview App. You are in control at all times. It's very easy to toggle the sharing for individual trackers and followers.</p></li>
	      	         <li><span>Multiple Tracker support</span><p>Eview comes with a free App that is intuitive and easy to use. You will be able to follow your trackers in real-time and there is no limit to howmany trackers you can add.</p></li>
	      	        </ul>
	      	       </dvi>
	      	       <div class="col-lg-6">
	      	        <img class="titleImg" src="/eview_html/img/home/evapp/ev_app.png" width="100%" />
	      	       </div>
	      	      </div>
	      	     </div>
	      	    </div>
	      </div>
	        <script>
	          $(document).ready(function() {
	              $('#summernote').summernote();
	          });
	        </script>
	    </div>
	</div>



	</form>



</div>