#newsShow{

}

#newsShow .news-title{
	color: #222;
	padding-bottom: 0;
	padding:10px 0; 
}

#newsShow .news-title h1{
	padding-bottom: 20px;
	border-bottom: 1px solid #efefef;
}

#newsShow .news-title ul{
	padding:0; 
	margin:0;
	width: 100%;
}

#newsShow .news-title ul li{
	display: inline-block;
	float: left;
	text-align: left;
	margin-left: 10px;
	color: #999;
}

#newsShow .news-title ul li b{
	color: #666;
	margin-right: 5px;
}


#newsShow .news-content{
	padding:10px 0; 
	text-align: left;
	line-height: 28px;
}


#newsShow .news-page{
	padding:10px 0; 
	text-align: left;
}

#newsShow .news-page a{
	color: #2969bf;
}


#newsShow .news-page .last{
	 float: left
}

#newsShow .news-page .next{
 	float: right
}


