<div id="general-form">
	<div class="row">
		<div class="col-sm-10 title"></div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
			<a href="#" onClick="loadPage('faq/general_list.html')" class="btn btn-default"><i class="glyphicon glyphicon-share-alt"></i></a>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Name</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="" name="" value="How accurate is GPS location?" >
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Synopsis</label>
	    <div class="col-sm-11">
	      <textarea name="" id="" style="width:100%" rows="10">U-blox GPS modules are able to obtain accuracy down to 3-10m depending upon many environmental factors.</textarea>
	    </div>
	  </div>


	  <div class="form-group">
	    <label class="col-sm-1 control-label">Content</label>
	    <div class="col-sm-11">
	      <div id="summernote" >
	      	  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>	 
  	      </div>
  	        <script>
  	          $(document).ready(function() {
  	              $('#summernote').summernote();
  	          });
  	        </script>
	    </div>
	  </div>

	</form>

</div>