<div id="technical-form">
	<div class="row">
		<div class="col-sm-10 title"></div>
		<div class="col-sm-2" align="right">
			<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i></button>
			<a href="#" onClick="loadPage('faq/technical_list.html')" class="btn btn-default"><i class="glyphicon glyphicon-share-alt"></i></a>
		</div>
	</div>

	<hr />

	<form class="form-horizontal">

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Name</label>
	    <div class="col-sm-11">
	      <input type="text" class="form-control" id="" name="" value="Do you offer web tracking service for free? Do you offer license for each ID?" >
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-1 control-label">Synopsis</label>
	    <div class="col-sm-11">
	      <textarea name="" id="" style="width:100%" rows="10">
	      	Yes, we offer free tracking service for life time, we don’t set license for each ID, Administrator ID are able to create many IDs as they need. Beside, we are constantly changing and improving our Services. We may add or remove functionalities or features, and we may suspend or stop a Service altogether.You can stop using our Services at any time, although we’ll be sorry to see you go. Google may also stop providing Services to you, or add or create new limits to our Services at any time.We believe that you own your data and preserving your access to such data is important. If we discontinue a Service, where reasonably possible, we will give you reasonable advance notice and a chance to get information out of that Service.
	      </textarea>	
	    </div>
	  </div>


	  <div class="form-group">
	    <label class="col-sm-1 control-label">Content</label>
	    <div class="col-sm-11">
	      <div id="summernote" >
	      	  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>	 
  	      </div>
  	        <script>
  	          $(document).ready(function() {
  	              $('#summernote').summernote();
  	          });
  	        </script>
	    </div>
	  </div>

	</form>

</div>