#Intro{
	
}

#Intro ul{
	text-align: right;
	position: relative;
}

#Intro ul li{
	color: #2969bf;
	font-size: 22px;
	margin-bottom: 16px;
}


#Intro ul li:first-child{
	font-size: 36px;
}


#brief ul li{
	font-size: 27px;
	color: #282829;
	text-align: left;
	line-height: 35px;
}





#brief ul li:first-child{
	color: #2969bf;
}

#brief ul li:last-child{
	font-size: 18px;
	color: #242736;
	line-height: 25px;
	margin-top: 30px;
}


#brief ul li:first-child{
	color: #2969bf;
}

#brief ul li span{
	font-size: 36px;
	margin-right: 18px;
	color: #2969bf;
}






#details{

}

#details p{
	font-size: 16px;
	line-height: 30px;
}

#details ul li {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}


#details ul li p{
	margin: 0;
	padding:0;
	line-height: 25px; 
	white-space: pre-wrap;
}



#details span:first-child{
	font-size: 21px;
	font-weight: 700;
}



#details .positionImg {
	position: relative;
	height: 150px
}

#details .positionImg img {
	position: absolute;
	top: -50px;
	right: 0;

}












#right{

}

#right .title{
	text-align: right;
	font-size: 35px;
	color: #242736;
}

#right .title span{
	font-size:45px;

}



#right .title span{
	font-size:45px;
}

#right .right-img{
	font-size:16px;
	margin-top: 30px;
}


#right .right-img div{
	margin-top: 35px;
	color: #2969bf;
}

#right .right-img div p{
	padding-top: 5px;
}

#right .right-img .marginTop{
	margin-top: 65px;
}










#trait{

}

#trait .title{
	text-align: left;
	font-size: 35px;
	color: #242736;
}

#trait .title span{
	font-size:45px;

}

#trait ul {
	list-style:none;
	text-align: left;
}

#trait ul .col-sm-6{
	padding:0;
	margin:0; 
	padding:9px 10px 10px 40px ;
	margin-top: 50px;
}

#trait ul li {
	  background:url('../../img/mune.png') no-repeat left center;
	  background-position:10px 10px;
	  box-sizing:border-box;
	  font-size: 14px;
	  color: #211c1c;
	  box-sizing: border-box;
	  display: inline-block;
	  height: 250px;
	  color: #211c1c;
	  font-size: 14px;
}

#trait ul li img{
	margin:20px 0;
}

#trait ul li:first-child,#trait ul li:last-child{
	background-color: #f3f3f3;
}

#trait ul li p:first-child{
	font-size: 18px;
	color: #2969bf;
}


#trait ul li span{
	color: #2969bf;
	font-size: 18px;
}

#trait .itemShow{
	margin-top: 30px;
}
#trait .itemShow li{
	padding: 0 ;
	margin:0!important;
	height: auto; 
	background-color: transparent!important;
	padding:9px 0 0 40px !important;
	font-size: 18px;
}




.moveProducts{
	position: relative;
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari 和 Chrome */
	-o-transition: all 1s; /* Opera */
}




