.admin-all {
	width: 100%;
	height: 100%;
}



/*头部*/
.admin-all .admin-top{
	width: calc( 100% - 250px );
	height:70px;
	float: right;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}


.admin-all .admin-top .admin-top-title{
	height: 100%;
	width: auto;
	padding:0 20px; 
	margin-left: 50px;
	float: left;
}

.admin-all .admin-top .admin-top-title ul li {
	display: inline-block;
	
}

.admin-all .admin-top .admin-top-title ul li+li {
	margin-left: 20px;
}

.admin-all .admin-top .admin-top-title ul h5 {
	color: #666;
}



.admin-all .admin-top .admin-top-btn{
	height: 100%;
	margin-right: 50px;
	float: right;
	line-height: 70px;
	padding:0 20px; 
}


.admin-all .admin-top .admin-top-btn button{
	width: 88px;
}






/*菜单栏*/
.admin-all .admin-left{
	width: 250px;
	height: 100%;
	float: left;
	background-color: #333;
	color: #fff;
	text-align: center;
	
}

/*菜单栏*/  /* 菜单标题*/
.admin-all .admin-left .admin-left-title{
	font-size: 18px;
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #222;
	margin-bottom: 100px;

}



.admin-all .admin-left .admin-left-mune{
	overflow: auto;
	height: calc( 100% - 170px );
	font-size: 14px;
}




.admin-all .admin-left .admin-left-mune ul{
	width: 100%;
	text-align: right;
	
}

.admin-all .admin-left .admin-left-mune>ul>li{
	width: 100%;
	text-align: right;
	line-height: 50px;
	position: relative;
}


.admin-all .admin-left .admin-left-mune>ul>li a{
	display: inline-block;
	color: #fff;
	width: 100%;
	padding:0 15px; 
	text-decoration: none;
	color: #f5f5f5;
}

.admin-all .admin-left .admin-left-mune>ul>li:hover{
	text-decoration: none;
	background-color: #222;
}

.admin-all .admin-left .admin-left-mune>ul>li:hover span{
	text-decoration: none;
	color: #fff;
}


.admin-all .admin-left .admin-left-mune>ul>li span{
	position:absolute;
	left: 0;
	color: #333;
}


.admin-all .admin-left .admin-left-mune>ul .active{
	background-color: #222;
}

.admin-all .admin-left .admin-left-mune>ul .active span{
	color:#fff;
}



.admin-all .admin-left .admin-left-mune>ul>li>ul{
	background-color: #222;
	border-top: 1px solid #111;
	border-bottom: 1px solid #444;
	display: none;
}

.admin-all .admin-left .admin-left-mune>ul>li>ul>li:first-child{
	background-color: #222;
	border-top: 1px solid #333;
}


.admin-all .admin-left .admin-left-mune>ul>li>ul>li:hover{
	background-color: #111;
}










/*内容显示区*/
.admin-all .admin-right{
	width: calc( 100% - 250px );
	height: calc( 100% - 70px );
	float: left;
	background-color: #f1f1f1;
	overflow: auto;
}



.admin-all .admin-right .admin-right-content{
	width: 94%;
	min-height: calc( 100% - 60px );
	margin:30px 3%;
	background-color: #fff;
	padding:30px;
}
