html{
	width: 100%;
	height: 100%;
}


body{
	width: 100%;
	height: 100%;
	min-width: 1200px;
    min-height:768px;
    font-family: Microsoft Yahei;
}

ul{
	list-style: none;
	margin:0;
	padding: 0;
}


.title{
	font-size: 30px !important;
}
